.accordion-wrapper {
    padding-inline: 15px !important;
    
    @media (min-width: 768px) {
        max-width: 720px !important;
    }

    @media (min-width: 992px) {
        max-width: 960px !important;
    }

    @media (min-width: 1200px) {
        padding-inline: 175px !important;
        max-width: 1140px !important;
    }
}

.accordion details {
    border-block-end: 1px solid #f2f2f2;
    padding-block: 27px;
}

.accordion details:first-child {
    border-block-start: 1px solid #f2f2f2;
}

/* stylelint-disable-next-line no-descending-specificity */
/*.accordion details + details {*/
/*    margin-top: 24px;*/
/*}*/

/*.accordion details p {*/
/*    margin-bottom: 0.8em;*/
/*}*/

.accordion details summary {
    position: relative;
    /*padding: 0 16px;*/
    padding-right: 46px;
    cursor: pointer;
    list-style: none;
    /*overflow: auto;*/
    transition: background-color 0.2s;

}

.accordion details[open] summary {
    /*background-color: var(--light-color);*/
}

.accordion details summary:focus,
.accordion details summary:hover {
    /*background-color: var(--light-color);*/
}

.accordion details summary p {
    margin-block: 0;
    font-family: var(--heading-font-family);
    color: #004595;
    line-height: 25px;
    font-weight: 600;
}

.accordion details summary::-webkit-details-marker {
    display: none;
}

.accordion details summary::before {
    content: "";
    position: absolute;
    right: 0;
    background: #004595;
    top: 9px;
    width: 21px;
    height: 3px;
    color: #004595;
}

.accordion details summary::after {
    content: "";
    position: absolute;
    background: #004595;
    top: 0;
    right: 9px;
    width: 3px;
    height: 21px;
}

.accordion details[open] summary::after {
    display: none;
}

.accordion details .accordion-item-body {
    /*padding: 0 16px;*/
}

.accordion details[open] .accordion-item-body {
    /*border-top: 1px solid #dadada;*/
    /*background-color: var(--background-color);*/
}

.accordion-item-body {
    padding-block-start: 20px;

    @media (min-width: 1200px) {
        padding-inline-end: 180px;
    }
}

.accordion-item-body h4 {
    color: #000;
    font-size: 18px;
    line-height: 22.5px;
}

.accordion-item-body p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}